@import "./global.less";

// 统计和钱包选项卡
.tab-control {
  width: 150px;
  height: 100%;
  background-color: @TAB_BACKGROUND_COLOR;
}

// 选项卡元素
.tab-element {
  height: 40px;
  color: white;
  // 使用弹性布局实现文本居中
  display: flex;
  align-items: center;
  justify-content: center;

  // 允许子元素使用相对定位
  position: relative;

  // 创建为元素实现 TAB 之间的渐变分割线
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(to right, @TAB_BACKGROUND_COLOR, #FFFFFF, @TAB_BACKGROUND_COLOR);
  }

  // 选项卡被选中
  &.tab-active {
    background-color: @TAB_ACTIVE_COLOR;
  }

  // 鼠标悬停在选项卡上方
  &:hover:not(.tab-active) {
    background-color: @TAB_ACTIVE_COLOR;
  }
}

// 选项卡内容
.tab-content {
  padding: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

// 编辑钱包名称的对话框
.dialog {
  width: 300px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: @TAB_CONTENT_COLOR;
  border-radius: @dialog-border-radius;
  padding: @dialog-padding;
  display: flex;
  flex-direction: column;
  position: relative;

  >.input-area {
    width: 100%;

    >input {
      width: 100%;
      height: 40px;
    }
  }

  >.buton-group {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}