// 定义全局通用的变量

// 选项卡的背景色
@TAB_BACKGROUND_COLOR: #343A40;
@TAB_ACTIVE_COLOR: #28A745;
@TAB_CONTENT_COLOR: white;

@global-border: 1px solid black;
@dialog-border-radius: 10px;
@dialog-padding: 10px 20px;